:global .nhTable div.ant-select-selection{
    border-width: 0px !important;
}

.searchDiv {
    margin-bottom: 16px;
}

#homeSearchDiv .ant-select-selection, #homeSearchDiv .ant-select-selection:active, #homeSearchDiv .ant-select-selection:focus, #homeSearchDiv .ant-select-selection:hover {
    border: none;
    outline: none;
    box-shadow: none;
}

.action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all .3s;
    height: 100%;
}

.action:hover {
    background: #e6f7ff;
}

.name {
    font-size: 14px;
    color: rgba(0, 0, 0, .65);
}

.avatar {
    margin: 20px 8px 20px 0;
    background: rgba(255, 255, 255, .85);
    vertical-align: middle;
}

.avatar img {
    position: relative;
    top: -2px;
}

.header_r {
    margin-right: 50px;
    height: auto;
    float: right;
}

.ct_l {
    float: left;
    width: 200px;
    height: 100%;
    margin-right: 20px;
    background: #fff;
}

.ct_r {
    float: left;
    width: cacl(100% - 220px);
    height: 100%;
}

.searchSpan {
    padding: 0;
    margin: 0 12px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 40px;
}

.autoComplete {
    -webkit-transition: width .3s, margin-left .3s;
    transition: width .3s, margin-left .3s;
    width: 0;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
}

.input {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none !important;
}

.autoCompleteShow {
    width: 210px;
    margin-left: 8px;
}

.tips_div {
    width: 100%;
    height: 36px;
    /*margin: 16px 0px;*/
    margin-bottom: 16px;
    line-height: 36px;
    border: 1px solid #91d5ff;
    border-radius: 3px;
    padding-left: 12px;
    background-color: #e6f7ff;
    color: #565c5f;
    font-size: 12px;
}

.tips_div i {
    color: #1890ff;
    font-size: 14px;
    margin-right: 5px;
}


:global .nhTable .ant-table-fixed-header .ant-table-scroll .ant-table-header{
	margin-bottom: 0px !important;
	overflow-x: hidden !important;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
	padding: 9px 8px;
}

:global .nhTable .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
	padding: 5px 8px;
}

:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th {
	padding: 9px 8px;
}

:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
	padding: 5px 8px;
}

:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th {
	padding: 9px 8px;
}

:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
	padding: 5px 8px;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header{
	overflow: auto;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body{
	overflow: auto !important;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner{
	overflow: auto !important;
	margin-top: -2px;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner{
	overflow: auto !important;
	margin-top: -2px;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body  table > .ant-table-tbody > tr > td {
	padding: 5px 8px;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner table > .ant-table-tbody > tr > td {
	padding: 5px 8px;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner table > .ant-table-tbody > tr > td {
	padding: 5px 8px;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-right{
	height:100%;
	right:1px;
	padding-right:2px;
	background: white;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-left{
	height:100%;
	
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header{
	border-left: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header{
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
}
:global .nhTable .ant-table-small > .ant-table-content > .ant-table-fixed-left  .ant-table-tbody > tr > td:last-child{
	border-right: 1px solid #e8e8e8 !important;
}