.searchInput{
    margin: 0 5px;
    padding: 0;
    /* width: 190px; */
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    transition: all linear 0.5s;
    text-indent: 10px;
}

.searchInput input{
    border-width:0px;
    margin-left: -8px;
}

.searchInput input:focus{
    box-shadow: none;
    border-right-width: 0px !important;
    border-right-color: white;
}

:global .selector-vertical-center-modal .ant-tree li span.ant-tree-switcher,:global .selector-vertical-center-modal  .ant-tree li span.ant-tree-iconEle{
    line-height: 16px;
}

:global .selector-vertical-center-modal .selector-tree-div .ant-input-search .ant-input{
    border:0px;
    box-shadow: none;
}
:global .selector-vertical-center-modal .selector-tree-div .ant-tree li ul{
    padding: 0 0 0 14px;
}


:global .selector-vertical-center-modal .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th {
	padding: 9px 4px;
}

:global .selector-vertical-center-modal .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
	padding: 7px 4px;
}

:global .selector-vertical-center-modal .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th {
	padding: 9px 4px;
}

:global .selector-vertical-center-modal .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
	padding: 7px 4px;
}

:global .selector-vertical-center-modal .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th {
	padding: 9px 4px;
}

:global .selector-vertical-center-modal .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
	padding: 7px 4px;
}

.searchInput:active,.searchInput:focus,.searchInput:hover{
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.searchIcon{
    cursor:pointer;
    margin-right: 8px;
    font-size: 16px
}
.searchHeader{
    width: 100%;
    text-align: right;
    line-height: 40px;
}
.tree_div{
    width: 90%;
    margin: 20px  auto;
    border: 1px solid #91d5ff;
    text-align: center;
    border-radius: 5px;
    line-height: 40px;
}
.tooltip_div .ant-tooltip-inner{
    max-width: 250px;
    padding: 6px 8px;
    color: #91d5ff;
    text-align: left;
    text-decoration: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #91d5ff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    min-height: 32px;
}

.tree_menu li {
	padding: 5px 10px;
	cursor: pointer;
}
.tree_menu li:hover {
	background: #e6f7ff;
}