.xgui_containerFrame_content_t {
  padding-bottom: 16px;
}
.xgui_containerFrame_title{
  line-height: 32px;
  font-size: 18px;
  color: #272747;
}
.xgui_containerFrame_description{
  margin-top: 14px;
  font-size: 14px;
  color: #8f8f8f;
}

.xgui_containerFrame_content_c {
  background-color: "#fff";
}
